body{
    background: url(../img/bg1.jpg);
}
.bbooxx{
    position: relative;
}
.p1{
    color: #9d9d9d;
    font-size: 18px;
    margin-right: 20px;
    margin-top: 10px;
    cursor: pointer;
}
.out{
    color: #9d9d9d;
    font-size: 18px;
    margin-right: 20px;
    margin-top: -2px;
    cursor: pointer;
}
#tips{
    color: #ff0000;
}
.box{
    margin: 0 auto;
    width: 980px;
    margin-top: 55px;
    position: relative;
}
div.content{
    background: url(../img/bg2.jpg) no-repeat;
    /* width: 1200px; */
    height: 1350px;
    margin: 0 auto;
    padding-top: 25px;
	border-radius: 10px;
}
div.ly{
    /* width: 910px; */
    /* background: rgba(255, 255, 255, 0.4); */
    /* height: 300px; */
    margin: 0 auto;
    border-radius: 20px;
    margin-top: 0px;
}
div.ly img{
	width: 50px;
}
div#fb{
    width: 600px;
    height: 400px;
    border: 1px solid #ffffff;
    position: fixed;
    top: 150px;
    left:-400px;
    transition: left 1s;
    border-radius: 0 400px 400px 0;
    background: rgba(121, 195, 238, 0.4);
    overflow: hidden;
}
div.teb{
    float: right;
	text-align: center;
    cursor: pointer;
	width: 187px;
	height: 400px;
}
div.teb-1{
	padding-top: 100px;
	padding-right: 50px;
}
div.fabu{
    float: left;
    width: 400px;
    height: 400px;
    background: rgba(121, 195, 238, 0.1);
}
div.fabu #img1{
	border-radius: 50%;
}
div.fabu .sub{
    margin-top: 20px;
    margin-left: 250px;
    width: 100px;
    height: 40px;
    background: lightskyblue;
    border-radius: 15px;
}
div.fabu .sub:hover{
    background: orange;
}
div.fabu textarea{
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 40px;
}
.author,.title{
    border-radius: 10px;
}
/* 后台引入数据 */
div.ly ul.mwh_ul{
	list-style-type: none;
}
div.ly div.mwh_div{
	width: 910px;
    background: rgba(255, 255, 255, 0.4);
	position: relative;
    margin: 0 auto;
    border-radius: 20px;
    margin-bottom: 15px;
	margin-left: -5px;
}
div.ly div.mwh_div img{
	width: 50px;
	border-radius: 50%;
	margin: 0 10px 0 10px;
}
div.ly div.mwh_div li{
	margin-left: 10px;
}
div.ly div.mwh_div .mwh_time{
	margin-left: 700px;
	margin-top: 30px;
	display: block;
}
div.ly div.mwh_div .mwh_title{
	margin-left: 320px;
	background: rgba(255,255,255,0.5);
	width: 250px;
	text-align: center;
     /* padding-top: 10px; */
	 height: 30px;
	 line-height: 30px;
	 border-radius: 10px;
	 font-size: 16px;
	 font-weight: bold;
	 color: #767676;
}
div.ly div.mwh_div .mwh_p{
	margin-left: 30px;
	margin-top: -50px;
	color: #000000;
}
div.ly div.mwh_div .mwh_div2{
	width: 700px;
	background: rgba(255,255,255,0.5);
	border-radius: 20px;
	margin-left: 90px;
	margin-top: -10px;
	padding: 4px;
}
div.ly .mwh_p2{
	width: 700px;
	background: rgba(255,255,255,0.4);
	border-radius: 20px;
	margin-left: 90px;
	margin-top: 10px;
	padding: 4px;
	
}
div#page{
	margin-left: 400px;
	margin-top: -45px;
}
div.ly ul div.mwh_div #mwh_huifu{
	position: absolute;
	top: 0px;
	left: 820px;
	color: #ffffff;
	text-decoration: none;
}
div.ly ul div.mwh_div #mwh_delete{
	position: absolute;
	top: 0px;
	left: 860px;
	color: #ffffff;
	text-decoration: none;
}
div.ly ul div.mwh_div #mwh_sh{
	position: absolute;
	top: 0px;
	left: 20px;
	color: #ffffff;
	text-decoration: none;
}

/* 回复*/
.div3{
	position: absolute;
	background:rgba(0, 0, 0, 0.5);
	/* height: 800px; */
	top: -1300px;
	left: 0;
	bottom: 0;
	right: 0;
	display: none;
}
/* .div1{
	width: 600px;
	height: 400px;
	margin: 0 auto;
	background: rgba(255,255,255,0.5);
	border-radius: 20px;
	} */
.div2{
		position: fixed;
		top: 200px;
		right: 0;
		
		background: rgba(255,255,255,0.5);
		border-radius: 20px;
		display: none;
		}
		#reply{
			border-radius: 20px;
			padding: 10px;
			background: rgba(255,255,255,0.2);
		}
		#bt1,#bt2{
			width: 100px;
			height: 40px;
		background: #acacac;
		border-radius: 10px;
		margin-top: 100px;	
		position: absolute;
		top: 150px;
		left: 300px;
		cursor: pointer;
		}
		#bt1:hover{
			background: #C0A16B;
		}
		#bt2{
			left: 120px;
		}
		#bt2:hover{
			background: #C0A16B;
		}